.main-container {
    margin-top: 75px;
    margin-bottom: 75px;
}

.plate-container {
    text-align: center;
}

.plate-color {
    font-size: 36px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding-top: 3px;
}

.plate-color.golden {
    background-color: rgb(187, 159, 0);
}

.plate-number {
    margin-left: 15px;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid #0000004d;
    border-radius: 10px;
    padding-top: 3px;
}

.plate-form {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.vr-input {
    width: 100px;
    border-radius: 10px;
    border: 1px solid #333;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.fw-input {
    width: 100%;
}

.btn-get-balance {
    line-height: 28px!important;
    vertical-align: bottom!important;
}